/* ::ng-deep mat-sidenav-content{
    height:600px!important;
} */



.example-full-width {
    width: 60%;
    padding-right:90px;
  }

  .float{
    position: fixed;
    /* bottom:0; */
    
    right: 1px;
    width: 100px;
    height: 100px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    z-index: 1;
  }